@use 'sass:map';
@use '../core/variables' as var;
@use '../core/mixins' as mix;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 0.5rem;
  margin-top: 2.5rem;
  background-color: var.$white;
  @include mix.tablet {
    padding: 4rem 1rem 3rem 1rem;
  }
  @include mix.desktop {
    padding: 5rem 1rem 4rem 1rem;
  }
  @include mix.desktop-xl {
    padding: 6rem 1rem 4rem 1rem;
  }
}

.hero__content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  
  z-index: 2;
  background-color: rgba(241, 241, 241, 0.8);
  box-shadow: 0 0 20px 20px rgba(241, 241, 241, 0.8);
  border-radius: 4px;
  border-radius: 3000px;
}

.hero__logo {
  width: 100%;
  max-width: 150px;
  z-index: 2;
  opacity: 85%;
  @include mix.mobile-lg {
    max-width: 200px;
  }
  @include mix.tablet {
    max-width: 300px;
  }
  @include mix.desktop {
    max-width: 400px;
  }
  @include mix.desktop-xl {
    max-width: 500px;
  }
}

.hero__text {
  font-size: map.get(var.$h1-mobile, font-size);	
  font-weight: 800;
  line-height: map.get(var.$h1-mobile, line-height);
  display: inline-block;
  white-space: pre-line;
  text-align: start;
  color: var.$black;
  z-index: 2; // <--- LO MANDA DELANTE

  @include mix.mobile-lg {
    font-size: 34px;
    line-height: 36px;
  }

  @include mix.tablet {
    font-size: 50px;
    line-height: 52px;
  }

  @include mix.desktop {
    font-size: 67px;
    line-height: 68px;
  }
  @include mix.desktop-xl {
    font-size: 80px;
    line-height: 84px;
  }
}

.hero__thread {
  display: block;
  width: 105vw;
  position: absolute;   // <---
  z-index: 1;      
  bottom: -40px; 
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); // Centra la imagen detrás

  @include mix.tablet {
    //width: 120%;
    height: auto;
    top: 60%;
  }
  @include mix.desktop {
    top: 60%
  }
  @include mix.desktop-xl {
    top: 45%
  }
}