@use 'sass:map';
@use '../core/variables' as var;
@use '../core/mixins' as mix;

.quefem {
  background-color: var.$white;
  color: black;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}